# any values set here will override the defaults in variables.tf

#metal_facility = "ewr1"
#hostname = "anycast-lab-master-ewr1"
#number_labs = 2
#
#metal_auth_token="ABCDEFGHIJKLMNOPQRSTUVWXYZ123456"
#metal_project_id="12345678-90AB-CDEF-GHIJ-KLMNOPQRSTUV"
